<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" rel="stylesheet"/>
        <style>
            .wrapper {
                border: 1px solid grey;
                position: absolute;
                min-width: 25%;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                text-align: center;    
                padding: 5%;
            }
            @media only screen and (max-width: 480px) {

                .wrapper {
                    border: none;
                }
                
            }
    
        </style>
    </head>
    <body>
        <div class="wrapper">
            <img src="/logo1.png" />
            <h1>Register</h1>

            <ul>
                <% if (typeof errors !='undefined') { %>
                    <% errors.forEach(error => { %>
                    <li style="color: red"><%=error.message %></li> 
                    <% }) %>
                    <% } %> 
            </ul>

            <form action="/users/register" method="POST">
                <div>
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" required/>
                </div>

                <div>
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" required/>
                </div>

                <div>
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required/>
                </div>

                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required/>
                </div>

                <div>
                    <label for="password2">Confirm password</label>
                    <input type="password" id="password2" name="password2" required/>
                </div>

                <div>
                <input type="submit" value="Register"> 
                </div>

            </form>

            <a href="/users/login">Already Registered? Login</a><br>
            <a href="https://homerepository.herokuapp.com/">Homepage</a>
        </div>
    </body>
</html>


